In [1]:
import time
import pyspark
import pandas as pd
import numpy as np
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
import pyspark.sql.functions as f
import csv
import os

In [2]:
spark=SparkSession.builder\
    .config("spark.local.dir", '/home/osboxes/hw/hw5/')\
    .appName("hw5")\
    .getOrCreate()
sc=spark.sparkContext

21/12/29 04:03:48 WARN Utils: Your hostname, osboxes resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
21/12/29 04:03:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/12/29 04:03:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
21/12/29 04:03:50 WARN SparkConf: Note that spark.local.dir will be overridden by the value set by the cluster manager (via SPARK_LOCAL_DIRS in mesos/standalone/kubernetes and LOCAL_DIRS in YARN).

In [3]:
path = "/home/osboxes/hw/hw5/"
if not os.path.isdir("./outputs"): os.mkdir("./outputs")

In [4]:
file_name = 'file:'+path+'./datasets/web-Google.txt'
text_file = sc.textFile(file_name)
#start = time.time()

In [5]:
data = sc.textFile(file_name).map(lambda x:x.replace('# ', '').split('\t')).filter(lambda x:len(x) > 1)
data.take(10)
header = data.first()

In [6]:
data = data.filter(lambda x:x != header)
spark = SparkSession.builder.getOrCreate()
df = spark.createDataFrame(data).toDF("FromNodeId" , "ToNodeId")
df.show()

+----------+--------+
|FromNodeId|ToNodeId|
+----------+--------+
|         0|   11342|
|         0|  824020|
|         0|  867923|
|         0|  891835|
|     11342|       0|
|     11342|   27469|
|     11342|   38716|
|     11342|  309564|
|     11342|  322178|
|     11342|  387543|
|     11342|  427436|
|     11342|  538214|
|     11342|  638706|
|     11342|  645018|
|     11342|  835220|
|     11342|  856657|
|     11342|  867923|
|     11342|  891835|
|    824020|       0|
|    824020|   91807|
+----------+--------+
only showing top 20 rows

# Q1

In [7]:
df_out_degrees = df.groupBy('FromNodeId').count().orderBy('count', ascending=False).cache()
df_out_degrees.show()

+----------+-----+
|FromNodeId|count|
+----------+-----+
|    506742|  456|
|    203748|  372|
|    305229|  372|
|    768091|  330|
|    808643|  277|
|    412410|  268|
|    600479|  265|
|    376428|  258|
|    156950|  257|
|    885728|  256|
|    667584|  253|
|    685695|  248|
|    282140|  247|
|    598188|  245|
|    579314|  244|
|    411593|  231|
|    321091|  229|
|    838278|  225|
|    302733|  216|
|    915273|  213|
+----------+-----+
only showing top 20 rows

In [8]:
print('-------start-writing-------------')
df_out_degrees.toPandas().to_csv("./outputs/q1_out_degrees.csv",index=False)
print('--------finish-writing-----------')

-------start-writing-------------

--------finish-writing-----------

# Q2

In [9]:
df_in_degrees = df.groupBy('ToNodeId').count().orderBy('count', ascending=False).cache()
df_in_degrees.show()

+--------+-----+
|ToNodeId|count|
+--------+-----+
|  537039| 6326|
|  597621| 5354|
|  504140| 5271|
|  751384| 5182|
|   32163| 5097|
|  885605| 4847|
|  163075| 4731|
|  819223| 4620|
|  605856| 4550|
|  828963| 4484|
|  551829| 4220|
|   41909| 4219|
|  558791| 4206|
|  459074| 4187|
|  407610| 4180|
|  213432| 4084|
|  765334| 4015|
|  384666| 4010|
|  173976| 3988|
|  687325| 3956|
+--------+-----+
only showing top 20 rows

In [10]:
print('-------start-writing-------------')
df_in_degrees.toPandas().to_csv("./outputs/q2_in_degrees.csv",index=False)
print('--------finish-writing-----------')

-------start-writing-------------

--------finish-writing-----------

# Q3

In [11]:
v = 0
data = data.map(lambda x:[int(x[0]), int(x[1])])

In [12]:
list_ToNodeID = data.filter(lambda x:x[0] == v).map(lambda x:[x[0], [x[1]]]).reduceByKey(lambda x, y:x + y).collect()[0][1]
list_ToNodeID

[11342, 824020, 867923, 891835]

In [13]:
print('-------start-writing-------------')
with open('./outputs/q3_list_First_ToNodeID.csv', 'w') as f:
    for item in list_ToNodeID:
        f.write("%s\n" % item)
print('--------finish-writing-----------')

-------start-writing-------------
--------finish-writing-----------

In [14]:
list_FromNodeID = data.filter(lambda x:x[1] == v).map(lambda x:[x[1], [x[0]]]).reduceByKey(lambda x, y:x + y).collect()[0][1]
list_FromNodeID

[11342,
 824020,
 867923,
 891835,
 635343,
 600594,
 366080,
 500627,
 835220,
 543999,
 830675,
 95656,
 38716,
 322178,
 387543,
 638706,
 645018,
 856657,
 11927,
 180285,
 395856,
 450550,
 824375,
 143557,
 15901,
 108113,
 136131,
 320258,
 335113,
 512812,
 522510,
 854209,
 857934,
 859247,
 857527,
 828241,
 29546,
 535748,
 30281,
 468354,
 62929,
 31300,
 553829,
 136593,
 414038,
 428822,
 523684,
 684417,
 760842,
 765654,
 795148,
 815602,
 72432,
 96460,
 160114,
 193375,
 293748,
 365423,
 403327,
 491156,
 548921,
 609210,
 635163,
 636635,
 662982,
 692491,
 721453,
 728417,
 867959,
 43929,
 115472,
 494671,
 46274,
 877381,
 48192,
 50822,
 554441,
 56910,
 68314,
 71878,
 283476,
 701455,
 821092,
 73631,
 483644,
 644912,
 82205,
 86094,
 172576,
 628457,
 725962,
 780663,
 898319,
 89773,
 90128,
 215810,
 91807,
 695578,
 102341,
 463078,
 221809,
 232480,
 672426,
 130954,
 115267,
 803972,
 120076,
 500542,
 197743,
 612032,
 764527,
 479137,
 321961,
 578649,
 846213,
 415030,
 140656,
 149447,
 229705,
 152996,
 153741,
 164521,
 171857,
 175010,
 177218,
 247548,
 203547,
 254529,
 729080,
 677007,
 433516,
 235849,
 238717,
 240416,
 243975,
 247439,
 253223,
 255023,
 852419,
 541385,
 281963,
 487182,
 563600,
 284059,
 284174,
 287468,
 637361,
 302284,
 701087,
 740065,
 784413,
 914941,
 387341,
 319393,
 319593,
 754862,
 331282,
 358935,
 363129,
 430049,
 848683,
 363712,
 464225,
 560047,
 600249,
 781646,
 385830,
 400909,
 408222,
 732803,
 842900,
 426863,
 434138,
 442324,
 844885,
 542276,
 451592,
 453275,
 453636,
 456978,
 466045,
 881700,
 471915,
 699910,
 479014,
 480435,
 687914,
 520734,
 884543,
 543606,
 552209,
 685926,
 783408,
 677789,
 747971,
 561337,
 591577,
 855011,
 655101,
 660210,
 648346,
 663429,
 668427,
 676560,
 714886,
 734490,
 759371,
 856353,
 804858,
 807267,
 810019,
 893714]

In [15]:
print('-------start-writing-------------')
with open('./outputs/q3_list_Second_FromNodeID.csv', 'w') as f:
    for item in list_FromNodeID:
        f.write("%s\n" % item)
print('--------finish-writing-----------')

-------start-writing-------------
--------finish-writing-----------